@{
    ViewBag.Title = "News";
}

<div class="jumbotron">
    <h2>Latest News</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Science</h2>
        <p>
            Data science encompasses preparing data for analysis, including cleansing, aggregating, and manipulating the data to perform advanced data analysis.
            Analytic applications and data scientists can then review the results to uncover patterns and enable business leaders to draw informed insights.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            Education is defined as a learning process for the individual to attain knowledge and understanding of the higher specific objects and specific.
            The knowledge gained formally resulting individual has a pattern of thought and behavior in accordance with the education they have gained.
        </p>
    </div>
    <div class="col-md-4">
        <h2>IOT (Internet of Things)</h2>
        <p>
            The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects,
            animals or people that are provided with unique identifiers (UIDs) and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction.
        </p>
    </div>
</div>